{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-color: peachpuff ">
    <div class="container">
      <h1 class="display-3">Order N Eat </h1>
      <p>ONE Pvt Ltd. is an Indian electronic Food Ordering company based in Jhabua, India. Founded by Mratyunjay Jadoun in 2019, the company initially focused on Home made food sales, before expanding into other product categories such as Fast food, restaurants, and hotel based products.
      </p>
 
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <h1 style="text-align: center;"> CREATED BY </h1>
    <br>
         
      <div >
        <h3>Mratyunjay Jadoun</h3>
        <p> Roll No - 0887cs161019 <br>Dr APJ Abdul Kalam UIT Jhabua</p>
        <p><a class="btn btn-danger" href="https://www.linkedin.com/in/mratyunjay-jadoun-a1a2b0167/" role="button">View details »</a></p>
      </div>
     

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
